<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ActivEarth_DevConnectionString" connectionString="Data Source=.;Initial Catalog=ActivEarth_Dev;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ActivEarth_DevConnectionString1" connectionString="Data Source=venus.cs.vt.edu;Initial Catalog=ActivEarth_Dev;Persist Security Info=True;User ID=aeadmin;Password=Hansh0tfirst" providerName="System.Data.SqlClient" />
  <add name="UserEntities" connectionString="metadata=res://*/UserModel.csdl|res://*/UserModel.ssdl|res://*/UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ActivEarth_Dev;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>