/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #ffffff;
    font-size: .80em;
    font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    margin: 0px;
    padding: 0px;
}

a:link, a:visited
{
    font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    color: #1493fa;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #1493fa;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/
TITLEBANNER
{
    color: #ffffff;
    font-size: 7em;
    padding: 0px 0px 0px 270px;
    font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    
}

h1, h2, h3, 
{
    font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    color: #000000;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    text-align: center;
    font-size: 2em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    text-align: center;
    font-size: 1.2em;
}



/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


.contentBox
{
width:670px;
height:auto;
background-color:#FFFFFF;
margin-top:30px;
}

.contentTitle
{
text-align:center;
font-size:19px;
font-weight: bolder;
margin-bottom:0px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
}

.contentText
{
font-size:13px;
line-height:24px;
margin-left:13px;
margin-right:13px;
}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    /*background-image: "~/Images/Home/background.png";
     background-repeat:repeat-x;*/
    background-color: #000000;
    margin: 20px auto 0px auto;
    border: 2px solid #000000;
   
}

.header
{
    position: relative;
    margin: 0px;
    padding: 4px 0px 60px 0px;
    /*background: #1493fa;*/
    background: ffffff;
    
    width: 100%;
}

.header h1
{
    font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
	
}

.main
{
   	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
    min-height: 420px;
    width: 600px;
    float: left;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
}


.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    line-height: normal;
}

/* Not Logged In   
----------------------------------------------------------*/

.mainNotLoggedIn
{
	padding: 0px;
    margin: auto;
    min-height: 600px;
    width: 70%;
    

}
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label, fieldset.createContest
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.textMultilineEntry
{
    min-height: 120px;
    max-height: 120px;
    height: 120px;
    min-width: 320px;
    max-width: 320px;
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo, div.contestInfo
{
    width: 42%;
    
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	color: #ffffff;
	font-weight: 700px;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.4em;
    display: block;
    text-align: right;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    padding: 0px 10px 26px 0px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
     text-align: right;
	font-family: Cambria;
	font-size:medium;
	font-weight: bolder;
	background-color: #1493fa;
	border-style: solid;
	border-width: 1;
	border-color: White;
    padding-right: 10px;
}

