/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Lucida Handwriting";
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-family: "Lucida Handwriting";
    font-size: 1.5em;
    color: #ffffff;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
	font-family: "Lucida Handwriting";
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
	font-family: "Lucida Handwriting";
}

h3
{
   font-family: "Lucida Handwriting";
    font-size: 1.2em;
}

h4
{
	   font-family: "Lucida Handwriting";
    font-size: 1.1em;
}

h5, h6
{
	   font-family: "Lucida Handwriting";
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: black;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px 0px 12px 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-family: "Lucida Handwriting";
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
	
}
.profileInfo
{
	width: 180px;
	float: left;
	clear:left;
	margin: 0px 0px 0px 10px;
}
.main
{
    font-family: "Lucida Handwriting";
    padding: 0px;
    margin: 0px;
    min-height: 420px;
    width: 600px;
    float: left;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
}
.statInfo
{
	width: 100px;
	float: left;
	margin: 0px 0px 0px 10px;

}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
	   font-family: "Lucida Handwriting";
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#ffffff;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #1493fa;
    border: 3px #FFBF00 solid;
    color: #FFBF00;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #76ed87;
    color: #000000;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #76ed87;
    color: #cfdbe6;
    text-decoration: none;
}

.tabContent
{
	padding: 0px 12px;
    margin: 12px 8px 8px 8px;
}

/* Not Logged In   
----------------------------------------------------------*/

.mainNotLoggedIn
{
	padding: 0px;
    margin: auto;
    min-height: 600px;
    width: 70%;
    

}
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label, fieldset.createContest
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
	   font-family: "Lucida Handwriting";
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.textMultilineEntry
{
    min-height: 120px;
    max-height: 120px;
    height: 120px;
    min-width: 320px;
    max-width: 320px;
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo, div.contestInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
	/*font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;*/
	font-family: "Lucida Handwriting";
	color: #ffffff;
	font-weight: 700px;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    font-family: "Lucida Handwriting";
	/*font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;*/
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
	   font-family: "Lucida Handwriting";
    padding-right: 10px;
}